/** 공통 CSS **/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
	blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn,
	em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
	b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas,
	details, embed, figure, figcaption, footer, header, hgroup, menu, nav,
	output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup,
	menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

a {
	text-decoration: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
	font-family: 'NanumBarunGothic';
	font-style: normal;
	font-weight: 400;
	src:
		url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
	src:
		url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix')
		format('embedded-opentype'),
		url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff')
		format('woff'),
		url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf')
		format('truetype');
}

@font-face {
	font-family: 'NanumBarunGothic';
	font-style: normal;
	font-weight: 700;
	src:
		url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot');
	src:
		url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot?#iefix')
		format('embedded-opentype'),
		url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.woff')
		format('woff'),
		url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.ttf')
		format('truetype')
}

@font-face {
	font-family: 'NanumBarunGothic';
	font-style: normal;
	font-weight: 300;
	src:
		url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot');
	src:
		url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot?#iefix')
		format('embedded-opentype'),
		url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.woff')
		format('woff'),
		url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.ttf')
		format('truetype');
}

.nanumbarungothic * {
	font-family: 'NanumBarunGothic', sans-serif;
}

/** 공통 헤드 CSS **/
#head {
	overflow:hidden;
	height: 230px;
	background: #ff8a3d;
}

#top_main{
	width:1000px;
	margin:0 auto;
	height: 160px;
	background: #ff8a3d;
}
#top_nav li{
	float: right;
}

#haed_nav {
	width: 1200px;
	margin: 0 auto;
	font-family: NanumBarunGothic;
	font-weight: 400;
}

#my_info {
	float: right;
}

.my_nav_left li {
	float: left;
	padding: 0 6px 0 8px;
	color: #fff;
	line-height: 70px;
}

.my_nav_right li {
	display: inline-block;
	padding: 0 6px 0 8px;
	color: #fff;
	line-height: 70px;
	float: left;
}

.book_serach {
	height: 30px;
}

#my_info ul li dl.dropdown_menu {
	background:#1e2329;
	display: none;
	position: absolute;
}

#my_info ul li dl.dropdown_menu dd {
	height: 50px;
	width:200px;
	line-height: 50px;
}

#my_info ul li dl.dropdown_menu a {
	color: #fff;
	padding:15px;
	text-decoration: none;
}

#my_info ul li dl.dropdown_menu dd:hover {
	background: #0074ac;
}

#my_info ul .dropdown_li:hover .dropdown_menu {
	display: block;
}

/** 공통 사이드메뉴 CSS **/
.menu_left {
	float: left;
	width: 230px;
	position: absolute;
	left: 0;
	top: 230px;
	bottom: 0;
	border-right: 2px solid #e5e5e5;
	background: #1e2329;
}

.menu_left ul li {
	padding: 15px;
}

.menu_left ul li:hover {
	background: #0074AC;
}

.menu_left ul .on {
	background: #0074AC;
}

.menu_left ul li a {
	font-family: NanumBarunGothic;
	font-weight: 700px;
	color: #fff;
	text-decoration: none;
}