/** 공통 CSS **/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
	blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn,
	em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
	b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas,
	details, embed, figure, figcaption, footer, header, hgroup, menu, nav,
	output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup,
	menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

a {
	text-decoration: none;
	font-family:NanumBarunGothic; 
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
	font-family: 'NanumBarunGothic';
	font-style: normal;
	font-weight: 400;
	src:
		url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
	src:
		url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix')
		format('embedded-opentype'),
		url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff')
		format('woff'),
		url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf')
		format('truetype');
}

@font-face {
	font-family: 'NanumBarunGothic';
	font-style: normal;
	font-weight: 700;
	src:
		url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot');
	src:
		url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot?#iefix')
		format('embedded-opentype'),
		url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.woff')
		format('woff'),
		url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.ttf')
		format('truetype')
}

@font-face {
	font-family: 'NanumBarunGothic';
	font-style: normal;
	font-weight: 300;
	src:
		url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot');
	src:
		url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot?#iefix')
		format('embedded-opentype'),
		url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.woff')
		format('woff'),
		url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.ttf')
		format('truetype');
}

.nanumbarungothic * {
	font-family: 'NanumBarunGothic', sans-serif;
}

.text_center{
	text-align: center;
}

/********************************** 공통 헤드 CSS **************************************/
#header_top {
	width: 100%;
    position: relative;
    margin: 0 auto;
    z-index: 999;
}
#haed{
	width: 100%;
    position: relative;
    margin: 0 auto;
}
#topbar{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;
    clear: both;
    width: 100%;
    min-width: 1200px;
    height: 50px;
    text-transform: uppercase;
    background: #000;
}
.box_1200{
	position: relative;
    clear: both;
    width: 1200px;
    margin: 0 auto;
}

.topbar_left {
    position: absolute;
    top: 0px;
    left: 180px;
    z-index: 2;
}
.topbar_right{
	position: absolute;
    top: 0px;
    right: 0px;
    z-index: 2;
}

#topbar .topbar_left li {
    float: left;
    text-align: left;
}

#topbar li {
    position: relative;
    display: inline-block;
    margin-left: 10px;
}

#topbar a {
    display: block;
    line-height: 50px;
    font-family: 'Lato',sans-serif;
    font-size: 10px;
    letter-spacing: 1px;
    color: #ddd;
}

#logo {
    position: relative;
    clear: both;
    width: 100%;
    text-align: center;
    padding: 75px 0 40px;
    margin: 0 auto;
}

#cate_box {
    clear: both;
    width: 100%;
    min-width: 1200px;
    height: 62px;
}

.position > ul > li {
    position: relative;
    z-index: 10;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    font-family: 'Lato',sans-serif,'Nanum Gothic';
    font-weight: normal;
    font-size: 13px;
    letter-spacing: 1px;
    height: 60px;
    padding: 0px 20px;
}

.position > ul > li a:hover{
	border-bottom:2px solid #000;	
}

#cateline {
    clear: both;
    width: 1200px;
    margin: 0 auto;
    border-top: 1px solid #e9e9e9;
    border-bottom: 1px solid #e9e9e9;
}
#cateline .box_1200 {
    position: relative;
    text-align: center;
}

.position > ul > li a {
    display: block;
    line-height: 59px;
}














/********************************** 공통 사이드메뉴 CSS **************************************/
.menu_left {
	position:absolute;
    width: 200px;
    background: #1e2329;
    margin: 20px;
    top:120px;
    z-index:5000;
}

.menu_left ul li {
	padding: 15px;
}

.menu_left ul li:hover {
	background: #0074AC;
}

.menu_left ul .on {
	background: #0074AC;
}

.menu_left ul li a {
	font-family: NanumBarunGothic;
	font-weight: 700;
	color: #fff;
	text-decoration: none;
}

/************************************팝업 CSS *********************************************/
.pop-layer{
	cursor: move;
}
.pop-layer .pop-container {
  padding: 20px 25px;
}

.pop-layer p.ctxt {
  color: #666;
  line-height: 25px;
}

.pop-layer .btn-r {
  width: 100%;
  margin: 10px 0 20px;
  padding-top: 10px;
  border-top: 1px solid #DDD;
  text-align: right;
}
.pop-conts{
	height: 300px;
}
#np_title{
	line-height:50px;
	height:50px;
	margin-bottom:30px;
	text-align:center;
	background-color: #e5e5e5;
}
.pop-layer {
  display: none;
  position: absolute;
  top: 10%;
  left: 70%;
  width: 410px;
  height: 400px;
  background-color: #fff;
  border: 5px solid #3571B5;
  z-index: 9999;
}

#ui-id-1{
	width: 498px;
    top: 49.5px;
    left: 408px;
    z-index: 1000;
}

#pagination li{
	float: left;
	padding:15px;
}





