@charset "UTF-8";

body {
	margin: 0 300px 0 300px;
}

#article {
	width: 1200px;
	margin: 0 auto;
	height: 600px;
	border: 1px solid black;
	position: relative;
}

#article2 {
	width: 1200px;
	margin: 0 auto;
	height: 500px;
	position: relative;
}

.div_top {
	width: 100%;
	height: 100px;
}

.book_title {
	position: absolute;
	top: 10px;
	left: 10px;
	margin: 10px 0 0 10px;
	font-size: 30px;
	font-weight: bold;
	float: left;
}

.zzim {
	position :absolute;
	top:0px;
	right:0px;
	z-index:1;
	font-size: 40px;
	font-weight: bold;
}


.zzim_count {
	float: left;
	font-size: 50px;
	margin-right:20px;
}

.div_middle_1 {
	height: 200px;
}

.book_img {
	position: absolute;
	left: 50px;
	float: left;
}

.book_detail {
	position: absolute;
	top: 150px;
	left: 500px;
	float: left;
}

.book_detail>div {
	margin-bottom: 20px;
}

.book_detail_title {
	font-size: 20px;
	font-weight: bold;
}

.book_regdate {
	position: absolute;
	top: 400px;
	height: 50px;
	margin-left: 100px;
	font-weight: bold;
	font-size: 30px;
}

.div_middle_2 {
	height: 300px;
}

.book_content {
	position: absolute;
	top: 390px;
	left: 500px;
}

.book_content_title {
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 20px;
}

.book_zzim {
	position: absolute;
	top: 500px;
	left: 50px;
	font-weight: bold;
}

.toggle_img {
	position: absolute;
	top: -30px;
	left: 200px;
}

.book_zzim_img {
	width: 55px;;
	height: auto;
	cursor: pointer;
}

#map {
	margin:400px auto 0 auto;
}

.hope_map {
	border: 1px solid black;
}

#map_detail {
	float: left;
}

#article2 {
	margin-top: 100px;
}

.article2_top {
	height: 700px;
}

.aside_book {
	width: 250px;
	height: 700px;
	border-radius: 10px;
}

.buy_button {
	position: absolute;
	top: 1000px;
	left: 1000px;
}

.info {
	background-color: #2196F3;
} /* Blue */
.info:hover {
	background: #0b7dda;
}

.danger {
	background-color: #f44336;
} /* Red */
.danger:hover {
	background: #da190b;
}

.book_popup {
	width: 450px;
	height: 170px;
	border: 1px solid black;
	border-radius: 10px;
	position: absolute;
	top: 700px;
	left: 600px;
	display: none;
	background-color: lightgray;
}

.book_popup h3 {
	font-size: 30px;
	font-weight: bold;
	margin: 0 0 100px 0;
}

.book_popup_ok {
	width: 150px;
	height: 30px;
	border: 1px solid black;
	border-radius: 2px;
}

.book_popup_no {
	width: 150px;
	height: 30px;
	border: 1px solid black;
	border-radius: 2px;
}

.book_confirm {
	font-size: 30px;
	font-weight: bold;
	text-align: center;
}

.side_name {
	width: 200px;
	height: 20px;
	font-size: 20px;
	text-align: left;
	font-weight: bold;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.side_fixed_price {
	margin-top: 20px;
	width:200px;
}

.side_price {
	margin-top: 20px;
	width:200px;
	
}

#book_ul>a:link {
	color: black;
}

#book_ul>a:visited {
	color: black;
}

#book_ul {
	margin: 0px;
	padding: 0px;
	width: 200px;
	height: 400px;
	padding:20px 0 20px 0;
}

.book_li {
	list-style: none;
	margin: 20px 0 20px 0;
	width: 200px;
	height: 300px;
	border-bottom: 1px solid black;	
}
.book_li:visited{
	color:black;
	text-decoration: none;
}
.book_li:link{
	color:red;
	text-decoration: none;
}
.book_li:hover{
	color:blue;
	text-decoration: none;
}
.side_category{
	width:200px;
	height:50px;
	font-size:30px;
	color:black;
	text-align:center;
	border: 1px solid black;
}
#aside {
	width: 280px;
	overflow: hidden;
	position: absolute;
	right: 30px;
}

.aside_book {
	overflow-y: scroll;
	width: 350px;
	height: 700px;
	background-color: white;
}

/*글삭제/수정/비활성화 시키기 css*/
#bookactive{float:left;}
#bookactive button{
	width:160px;
    margin-right: 14px;}

/*카카오 맵 위 말풍선css*/
.map_address {
	color: red;
}

/*썸네일 슬라이드 css*/

.js .slider-single > div:nth-child(1n+2) { display: none }

.js .slider-single.slick-initialized > div:nth-child(1n+2) { display: block }

h3 {
	color: #3498db;
	font-size: 2.25rem;
	margin: .5rem;
	padding: 2%;
	position: relative;
	text-align: center;
}

.slider-single h3 {
	line-height: 10rem;
}

.slider-nav h3::before {
	content: "";
	display: block;
	padding-top: 75%;
}

.slider-nav h3 span {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.slider-nav .slick-slide { cursor: pointer; }

.slick-slide.is-active h3 {
	color: #c00;
	background-color: #fff
}
.slider-single img{
	margin-left:200px;
}
.slider-single{
	margin-bottom:40px;
}

/******************************************방석민**************************************************/
xans-product-detail .detailArea {
	*zoom: 1;
	width: 1200px;
	margin: 0 auto;
}

.xans-product-detail .imgArea {
	float: left;
	width: 800px;
}

.xans-product-detail .imgArea {
	position:relative;
	width: 800px;
	margin: 0 auto;
	text-align: center;
}

.xans-product-detail .listImg {
	overflow: hidden;
	width: 800px;
	margin: 10px auto 0;
}

.xans-product-detail .listImg ul {
	margin: 0px;
	font-size: 0;
	line-height: 0;
}

.xans-product-detail .listImg li {
	display: inline-block;
	margin-left: 4px;
	font-size: 12px;
	line-height: 14px;
	vertical-align: top;
	*display: inline;
	*zoom: 1;
}

.xans-product-detail .listImg li img {
	width: 50px;
	height: 50px;
	cursor: pointer;
	margin-bottom: 20px;
}

.xans-product-detail .infoArea {
	float: right;
	width: 360px;
	
}

.xans-product-detail .infoArea #sangse_name {
	clear: both;
	margin-bottom: 30px;
	padding-bottom: 20px;
	border-bottom: 1px solid #dedede;
}
#sangse_name th > span{
	display:inline-block;
	text-align: center;
}
.xans-product-detail .infoArea h3 {
	padding-bottom: 10px;
	font-size: 14px;
	color: #000;
}

.xans-product-detail .infoArea table {
	border: 0;
	font-size: 12px;
	margin-top: 10px;
}

.xans-product-detail .infoArea th {
	font-weight: normal;
	color: #555;
	width: 115px;
	padding: 7px 0 8px;
	text-align: center;
	vertical-align: top;
}

.xans-product-detail .infoArea td {
	padding: 7px 0px 8px;
	vertical-align: top;
}

.xans-product-action .btnArea {
	overflow: hidden;
	margin: 0px;
	text-align: center;
	line-height: 0;
}

.xans-product-action .btnArea .buy span {
	width: 100%;
	cursor: pointer;
	color: #fff;
	line-height: 40px;
}

.xans-product-action .btnArea span {
	float: left;
	line-height: 40px;
	margin-bottom: 5px;
}

.roll span {
	display: inline;
}

.xans-product-action {
	width: 100%;
	padding-top: 50px;
}