<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="AdminMapper">
	<insert id="popup_regist" parameterType="kr.co.vo.PopupDTO" >
		INSERT INTO notice_popup values(
			np_id,
			#{np_title},
			#{np_comment},
			#{np_page_name},
			#{uuid},
			np_yes_no
		)
	</insert>
</mapper>