<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BookDetailMapper">

<!-- DB에서 책 관련 값들 가져오기 -->
	<select id="book_detail" parameterType="map" resultType="kr.co.vo.BookDetailDTO">
		SELECT 
		     bsr.*,bc.bc_name 
		FROM 
			 book_sell_regist_user bsr  
		INNER JOIN 
		     book_category bc
		ON 
		     bsr.bsr_category  = bc.bc_code 
		WHERE
		     bsr_id=#{bsr_id} and uuid=#{uuid};
	</select>
	<!-- DB에서 파일명 가지고 오기 -->
	<select id="book_detail_img" parameterType="int" resultType="kr.co.vo.BookDetailDTO">
	 	SELECT
	 	      *
	 	FROM
	 	      book_img
	 	WHERE
	 	      bsr_id =#{bsr_id}
	</select>
	
   <!-- 찜 개수  -->
   <select id ="zzim" parameterType ="int" resultType="kr.co.vo.BookDetailDTO">
        SELECT 
	         count(*) as zzim 
	    FROM
	         zzim
	    WHERE 
	      	 bsr_id=#{bsr_id};
	   
   </select>
   
   <!-- 사용자 찜 확인 -->
   <select id="zzim_check" parameterType="map" resultType="kr.co.vo.BookDetailDTO">
      	SELECT 
         	  * 
      	FROM 
         	  zzim 
     	WHERE 
       		  uuid =#{uuid} and bsr_id=#{bsr_id};
   </select>
   
   <!-- 찜 등록 해제 AJAX  -->
   <delete id="check_off" parameterType="map">
	    DELETE 
	    FROM 
	          zzim 
	    WHERE 
	          uuid= #{uuid} and bsr_id=#{bsr_id} ;
   </delete>
	<!--  구매요청 db 값 변경 -->
	<update id ="book_check" parameterType="map">
	UPDATE 
			book_sell_regist  
	SET 
			bsr_check =#{bsr_check} 
	WHERE 
			bsr_id = #{bsr_id}	
	
	</update>
   <!-- 찜 등록 AJAX -->
   <insert id="check_on" parameterType="map">
	    INSERT INTO 
	          zzim
	    VALUES
	          (#{uuid},#{bsr_id});
   </insert>
   
   <!--찜 개수 AJAX 표현  -->
   <select id ="check_count" resultType="int">
        SELECT 
              count(*)
        FROM
              zzim
        WHERE
              bsr_id = #{bsr_id}
   </select>
   
   <!-- 구매하기 헀을떄 구매자 DB업데이트 -->
   <insert id="buying_book" parameterType="map">
		INSERT INTO my_buy_book values(
			#{uuid},
			#{bsr_id},
			now(),
			bsr_confirm
		)		
   </insert>
   
   <!-- 책 카테고리 리스트 -->
   <select id="bc" resultType="kr.co.vo.BookCategoryDTO">
        SELECT
	          bc_code,
	          bc_name
        FROM
      	      book_category;
   </select>
   <!-- 메인 책 리스트 -->
   <select id="main_book_list" resultType="kr.co.vo.BookDetailDTO">
        SELECT
	          bsr_id,
	          uuid,
	          bsr_price,
	          bsr_name,
	          bsr_category
        FROM
              book_sell_regist
        WHERE 
        	  bsr_status = 1 
        ORDER BY
              bsr_regdate desc;
   </select>
   <select id="main_ct_book_list" resultType="kr.co.vo.BookDetailDTO">
        SELECT
	          bsr_id,
	          uuid,
	          bsr_price,
	          bsr_name,
	          bsr_category
        FROM
              book_sell_regist
        WHERE 
        	  bsr_status = 1 and bsr_category=#{bc_code}
        ORDER BY
              bsr_regdate desc;
   </select>
   
   <!-- 같은 연관 장르 목록 -->
   <select id="side_same_category" parameterType="map" resultType="kr.co.vo.BookDetailDTO">
	     SELECT 
	   		   * 
	     FROM 
	   	       book_sell_regist_user 
	     WHERE 
	    	   bsr_category =#{bsr_category} and bsr_id != #{bsr_id}
	     ORDER BY  
	    	   bsr_regdate 
	     DESC  
	     LIMIT 0,10;
   </select>
   
   <!-- 글 수정  DB 값 가져오기-->
   <select id="bookupdate" parameterType="int" resultType="kr.co.vo.BookDetailDTO">
		SELECT 
				bsri.*,bc.bc_name
		From 
				book_sell_regist_img bsri
		INNER JOIN 
				book_category bc
		ON 
				bsri.bsr_category = bc.bc_code 
		WHERE 
				bsri .bsr_id =#{bsr_id};
   
   </select>
   
   	<!--  글 수정버튼 클릭시 db(bsr_update) 값 변경-->
   	<update id="bookactiveoff" parameterType="int">
	   	UPDATE 
	   			book_sell_regist  
	   	SET 
	   			bsr_status = 0 
	   	WHERE 
	   			bsr_id = #{bsr_id};
   	
   	</update>
   	
   	<!--  글 수정버튼 클릭시 db(bsr_update) 값 변경-->
   	<update id="bookactiveon" parameterType="int">
	   	UPDATE 
	   			book_sell_regist  
	   	SET 
	   			bsr_status = 1 
	   	WHERE 
	   			bsr_id = #{bsr_id};
   	
   	</update>
   
   
   <!-- 글삭제 -->
   <delete id="bookdelete" parameterType="int">
	     DELETE 
		 FROM 
		       book_sell_regist  
		 WHERE 
		       bsr_id =#{bsr_id};
		   
   </delete>
   
   <!-- 게시글 수정 상태 확인 -->
   <select id ="book_update_check" parameterType="int" resultType="int">
		   SELECT 
 		 		 bsr_status 
		   FROM 
		  		 book_sell_regist
		   WHERE 
		  		 bsr_id =#{bsr_id};
   </select>
   
   <!-- 게시글 활성화 상태 값 가져오기 -->
   <update id="bookactive" parameterType="int">
	   UPDATE
	   		book_sell_regist
	   SET
	  		 bsr_status=#{bsr_status}
	   WHERE 
	   		bsr_id = #{bsr_id}
   </update>
   
   <!--  파일 첨부 삭제 -->
   <delete id="deleteimagefile" parameterType="int">
   	DELETE
   	FROM
   			book_img
   	WHERE
   	     bsr_img_id = #{bsr_img_id}
   </delete>
      <!--  파일 첨부 삭제 -->
   <select id="autoSearch" resultType="String">
	   	SELECT 
	   		bsr_name
	   	FROM 
	   		book_sell_regist
   </select>
   <select id="serachBook" parameterType="String" resultType="kr.co.vo.BookDetailDTO">
		SELECT 
			* 
		FROM
			book_sell_regist 
		WHERE bsr_name =#{bsr_name};
   </select>
   
</mapper>
