<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bookRequestMapper">
	
	
	<insert id="insert">		
		INSERT INTO book_request_board (  bk_category
										, brd_comment
										, uuid
										, brb_regdate
										, brb_cnt )
								VALUES(   #{bk_category}
										, #{brd_comment}
										, #{uuid}
										, now()
										, #{brb_cnt} ); <!-- isbn 처리해야함. -->
	</insert>
	
	<select id="list" resultType="kr.co.vo.BookRequestDTO">
		SELECT 	 brb_id
			   , brb_isbn
			   , brb_regdate
			   , brb_cnt
			     FROM book_request_board
			     ORDER BY brb_id;

	</select>
	
	<select id="read" parameterType="int" resultType="kr.co.vo.BookRequestDTO">
		SELECT 	 brb_id
			   , uuid
			   , bk_category			   
			   , brd_comment
			     FROM book_request_board
		WHERE brb_id = #{brb_id};
		UPDATE	book_request_board set brb_cnt = #{brb_cnt} + 1 WHERE brb_id = #{brb_id};
	</select>
	
	<update id="update">
		UPDATE book_request_board set brd_comment = #{brd_comment}, bk_category = #{bk_category} WHERE brb_id = #{brb_id};
	</update>
	
	<delete id="delete">
		DELETE FROM book_request_board where brb_id = #{brb_id};
	</delete>

</mapper>