<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.dao.BookDetailDAO">

	<select id="book_detail" resultType="kr.co.vo.BookDetailDTO">

	SELECT
		bsr.bsr_name,
		bsr.bsr_regdate,
		bsr.bsr_category,
		bsr.bsr_fixed_price,
		bsr.bsr_price,
		bsr.bsr_comment,
		bsr.bsr_check,
		bsr.map_x,
		bsr.map_y,
		bsr.bsr_id,
		bsr.uuid,
		u.phonenum,
		u.name,
		u.auth
	FROM
		user u,book_sell_regist bsr
	WHERE 
	    u.uuid = bsr.uuid and u.uuid=2;
	</select>
	
	<select id ="zzim" resultType="kr.co.vo.BookDetailDTO">
	SELECT 
		count(bsr_id) as zzim 
    FROM
        zzim;
	
	</select>
	<select id="zzim_check" resultType="kr.co.vo.BookDetailDTO">
	SELECT 
		* 
	FROM 
		zzim 
	WHERE 
		uuid =2 and bsr_id=1;
	</select>
	
	<delete id="check_off" parameterType="int">
	 DELETE 
	 FROM 
	 	zzim 
	 WHERE 
	 	uuid= #{uuid};
	</delete>

	<insert id="check_on" parameterType="map">
	  INSERT INTO 
	 	 zzim 
	  VALUES
	  	(#{uuid},#{bsr_id});
	</insert>
	<select id ="check_count" resultType="int">
	SELECT 
	    count(*)
	FROM
	    zzim
	WHERE
	    bsr_id = #{bsr_id}
	</select>
	
	<update id= "book_check" parameterType="map">
	UPDATE 
		book_sell_regist  
	SET 
		bsr_check=#{bsr_check} 
	WHERE 
	    bsr_id=#{bsr_id};
	
	</update>
</mapper>