<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="QnAMapper">

	<insert id="insert">
		INSERT INTO qna_board (uuid, qb_title, qb_comment, qb_date)
						VALUE (#{uuid}, #{qb_title}, #{qb_comment}, now());	
	</insert>
	<select id="read" parameterType="int" resultType="kr.co.vo.QnADTO">
		SELECT 	 qb_id
			   , uuid
			   , qb_title
			   , qb_comment
			     FROM qna_board
			     WHERE qb_id = #{qb_id};
	</select>
	<select id="select">
		SELECT 	 qb_id
			   , uuid
			   , qb_title			   
			   , qb_comment
			     FROM qna_board WHERE qb_id = #{qb_id};
	</select>
	<update id="update" parameterType="kr.co.vo.QnADTO">
		UPDATE qna_board set qb_title = #{qb_title}, qb_comment = #{qb_comment} WHERE qb_id = #{qb_id};
	</update>
	<delete id="delete">
		DELETE FROM qna_board where qb_id = #{qb_id};
	</delete>
	<insert id="writeReply">
		INSERT INTO qna_board_reply (qb_id, qbr_comment, qbr_regdate) VALUE (#{qb_id}, #{qbr_comment}, now());
	</insert>
	<select id="readReply" resultType="kr.co.vo.QnADTO">
		SELECT qbr_id, qb_id, qbr_comment, qbr_regdate FROM qna_board_reply WHERE qb_id = #{qb_id};
	</select>
</mapper>