<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

 <mapper namespace ="userMapper">
 <!-- 로그인 회원 정보 입력 -->
 <insert id="register" parameterType="kr.co.vo.UserVO">
  	INSERT INTO user (
  		UUID
  		, NAME
  		, PHONENUM
  		, AUTH
  		, PASS
  		, USERID
  	
  	) VALUES (
  		uuid
  		, #{name}
  		, #{phonenum}
  		, #{auth}
  		, #{pass}
  		, #{userid}
  	
  	)
  </insert>
  	<!-- 회원들의 구매개수 ,판매개수 -->
	<select id="deal_list" resultType="kr.co.vo.UserVO">
		SELECT
		   (SELECT COUNT(*) FROM my_buy_book MBB WHERE MBB.UUID = u.UUID AND MBB.BSR_CONFIRM = 'Y') AS buy_count,
		   (SELECT COUNT(*) FROM book_sell_regist BSR WHERE BSR.UUID =u.UUID AND BSR.BSR_CONFIRM = 'Y') AS sell_count,
		   u.name,
		   u.userid 
		FROM
			user u
	</select>
  	<!-- 내가 판매중인책 개수 -->
	<select id="my_selling_count" resultType="int">
		SELECT 
			count(*)
		FROM 
			book_sell_regist bsr 
		LEFT OUTER JOIN 
			user u 
		ON
			u.uuid =bsr.uuid 
		WHERE 
			u.uuid =#{uuid} and bsr_check =3;
	</select>
  	<!-- 내가 구매중인책 개수 -->
	<select id="my_buying_count" resultType="int">
		SELECT 
			count(*)
		FROM 
			my_buy_book
		where 
			uuid=#{uuid} and bsr_confirm ='Z';
	</select>
	<!-- 나의 찜개수 -->
	<select id="my_zzim_count" resultType="int">
		SELECT 
			count(*) zzim
		FROM 
			zzim z join user u 
		ON 
			u.uuid =z.uuid 
	    AND 
	    	u.uuid=#{uuid};
	</select>
	  <select id="login" resultType="kr.co.vo.UserVO">
	  	
	  	SELECT
	  		*
	  	FROM user
	  	WHERE userid = #{userid}
	  	
	  </select>
	  
	  <!-- 세션 아이디, 로그인 유지 기간 설정시 기간 갱신 -->
	  <update id="keeplogin">
	  
	  	UPDATE user
	  	SET sesssion_key = #{sessionId}
	  		, session_limit = #{next}
	  	WHERE userid = #{userid}	  	
	  
	  </update>
	  
	  <!-- Session key 확인 -->
	  <select id="checkUserSessionKey" parameterType="String" resultType="kr.co.vo.UserVO">
	  
	  	SELECT
	  		*
	  	FROM user
	  	WHERE sesssion_key = #{value }
	  		AND session_limit > now()
	  
	  </select>
	  
  	<!-- 내가 판매중인 책 -->
	<select id="my_selling_book_list" parameterType="int" resultType="kr.co.vo.BookDetailDTO">
		SELECT
			*
		FROM
			book_sell_regist bsr
		WHERE
			uuid=#{uuid} and bsr_check=3;
	</select>
 </mapper>
 
  